*{
    box-sizing: border-box;
    list-style-type: none;
}

body{
    display: grid;
    margin: 0px;
    padding: 0px;
    max-width: 100vw;
    min-height: 100vh;
    grid-template-rows: 80px 1fr 100px;
    grid-template-areas: 'cabecalho' 'conteudo' 'rodape';
    font-family: 'Varela Round', sans-serif;
    background-color: #dfdede;
}

a{
    text-decoration: none;
}