@media(max-width: 600px){
    .ar-condicionado-pagserv{
        grid-template-columns: 1fr;
        grid-template-rows: 100px 3fr 1fr;
        grid-template-areas: 'titulo' 'conteudo' 'navegacao';
    }

    .eletrica-pagserv{
        grid-template-columns: 1fr;
        grid-template-rows: 100px 3fr 1fr;
        grid-template-areas: 'titulo' 'conteudo' 'navegacao';
    }

    .ss-pagserv{
        grid-template-columns: 1fr;
        grid-template-rows: 100px 3fr 1fr;
        grid-template-areas: 'titulo' 'conteudo' 'navegacao';
    }
}