@media(max-width: 600px){
    .pagserv{
        grid-template-columns: 1fr;
        grid-template-rows: 80px 2fr 1fr 100px;
        grid-template-areas: 'titulo' 'conteudo' 'navegacao' 'garantia';
    }

    .pagserv .nav{
        margin-left: 20px;
    }

    .pagserv .title{
        font-size: 1.7em;
    }

    .pagserv .nav a{
        font-size: 1.2em;
    }

    .pagserv .garantia{
        font-size: 0.8em;
    }

    .rodape{
        margin-top: 15px;
    }
}