.pag-servico{
    display: grid;
    color: #3d2323;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 80px;
    grid-template-areas: 'ar-condicinado' 'eletrica' 'sistema-de-seguranca';
}

.pagserv{
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: 'titulo titulo' 'conteudo navegacao'; 
}

.pagserv .title{
    margin: 0;
    height: 100%;
    padding: 20px 20px;
    font-size: 2.5em;
    border-bottom: solid 2px #3d2323;
}

.pagserv .conteudo{
    margin: 0;
    padding: 20px 20px;
    font-size: 1.3em;
}

.pagserv .nav{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.pagserv .nav a{
    margin: 0px;
    display: block;
    font-size: 1.3em;
    color: #3d2323;
}

.pag-servico .garantia{
    text-align: center;
    font-size: 1.5em;
    height: 100%;
}