.servico{
    text-align: center;
    color: #3d2323;
}

.servico .card-servicos{
    display: flex;
    flex-direction: row;
    border: solid 1px #000;
    flex-wrap: wrap;
    justify-content: space-around;
}
.servico .card{
    display: flex;
    border: solid 1px #000;
    flex-wrap: wrap;
    width: 384px;
    margin: 25px 0px;
}

.card .text-servico{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: baseline;
    font-size: 1.5em;
    font-weight: 100;
}

.card img{
    width: 100%;
}