* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
    font-family: 'Jogar', sans-serif;
}
body {
    background-color: #f5f5f5;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}

.cabecalho {
    width: 100%;
    float: left;
    padding: 3% 4%;
}

.logo {
    width: 56px;
    height: 56px;
    float: left;
    color: #fff;
    background-color: #fc2e33;
}

.botão-menu {
    width: 56px;
    height: 56px;
    float: right;
    text-align: center;
    color: white;
    border-radius: 56px;
    cursor: pointer;
    background: linear-gradient(to right, #fc2e33, #df54147c);
}

.menu {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
}

.botão-close {
    font-size: 3em;
    color: #fff;
    float: right;
    cursor: pointer;
    margin: 2% 7%;
}

.menu ul {
    width: 100%;
    float: left;
    text-align: center;
}

.menu li {
    padding: 3%;
}

.menu li a {
    font-size: 2em;
    color: #fff;
    padding: 3% 3%;
}

.menu li a:hover {
    background-color: #fc2e33;
}

.banner {
    width: 100%;
    float: left;
    text-align: center;
    padding: 3% 4%;
    background-color: #fc2e33;
}

.title {
    width: 100%;
}

.banner h2 {
    font-size: 2em;
    color: #fff;
    font-weight: 400;
    margin-bottom: 2%;
}

.paragrafo li a{
    color: #fff;
    font-size: 1.2em;
}

.orcamento{
    width: 100%;
    margin-top: 2%;
    display: inline-block;
}
.pedir{
    width: 60%;
    height: 40px;
    float: left;
    padding: 0% 3%;
    font-size: 1.5em;
    text-align: left;
    cursor: pointer;
    background-color: #fff;
    color: #4e1c1c;
    border-radius: 10px 0 0 10px;
}
.servico{
    width: 35%;
    height: 40px;
    float: right;
    padding: 0% 3%;
    font-size: 1.5em;
    text-align: left;
    cursor: pointer;
    background-color: #4e1c1c;
    color: #fff;
    border-radius: 0 10px 10px 0; 
}
.orcamento i {
    float: right;
}